<div class="flex flex-col">
    {% include "base/menu_item.html" with path="svg/dashboard.html" link="dashboard/" title="داشبورد" %}
    {% include "base/menu_item.html" with path="svg/syringe.html" link="services/" title="خدمات و قراردادها" %}
    {% include "base/menu_item.html" with path="svg/users.html" link="people/" title="پرسنل و کارفرما" %}
    {% include "base/menu_item.html" with path="svg/call.html" link="calls/" title="تماس ها" %}
    {% include "base/menu_item.html" with path="svg/moeny.html" link="payments/" title="مالی" %}
    {% include "base/menu_item.html" with path="svg/chart.html" link="reports/" title="گزارشات" %}
    {% include "base/menu_item.html" with path="svg/settings.html" link="settings/" title="تنظیمات" %}
    {% include "base/menu_item.html" with path="svg/logout.html" link="logout/" title="خروج از حساب" %}
</div>