{% load crm_extras %}
<a href="/crm/{{link}}">
    <div class="
    menu-item
    flex
    flex-row
    px-2
    py-4
    rounded-md
    items-center 
    cursor-pointer
    select-none
    {% if link|remove_slash not in section and 'logout' not in link %} hover:bg-primarytext {% endif %}
    {% if link|remove_slash in section %}bg-white text-primary {%else%} bg-primary text-white {% endif %}
    {% if not minimized %} gap-2 {% endif %}
    {% if 'logout' in link %} hover:bg-errortext {% endif %}
    ">
        <div class="h-6 w-6">
            {% if link|remove_slash in section %}
                {% with icon_color="fill-primary" title_color="text-primary" %}
                    {% include path with fillcolor=icon_color %}
                {% endwith %}
            {% else %}
                {% with icon_color="fill-white" title_color="text-white" %}
                    {% include path with fillcolor=icon_color %}
                {% endwith %}
            {% endif %}
        </div>
        <span class="font-bold">
            {% if not minimized %}{{title}}{% endif %}
        </span>
    </div>
</a>
