<div class="flex flex-col">
    {% include "base/menu_item.html" with path="svg/dashboard.html" selected=False title="داشبورد" %}
    {% include "base/menu_item.html" with path="svg/syringe.html" selected=False title="خدمات و قراردادها" %}
    {% include "base/menu_item.html" with path="svg/users.html" selected=True title="پرسنل و کارفرما" %}
    {% include "base/menu_item.html" with path="svg/moeny.html" selected=False title="مالی" %}
    {% include "base/menu_item.html" with path="svg/chart.html" selected=False title="گزارشات" %}
    {% include "base/menu_item.html" with path="svg/settings.html" selected=False title="تنظیمات" %}
    {% include "base/menu_item.html" with path="svg/logout.html" selected=False title="خروج از حساب" %}
</div>