<div class="flex justify-between p-8 w-full bg-white">
  
  {% comment %} breadcrumb {% endcomment %}
  <div class="flex w-8/12  items-center">
    
      <ul class="flex flex-wrap space-x-2 font-semibold">
        <li>
          <a href="#" class="hover:text-gray-700">داشبورد</a>
        </li>

      </ul>

  </div>
  
  {% comment %} profile and search bar {% endcomment %}
  <div class="flex flex-row-reverse w-full items-center gap-5">
    <div class="flex flex-row items-center gap-4">
      <span class="text-primarytext">
        شهرام شقایق
        <span>
          (مدیرمرکز)
        </span>
      </span>

      <div class="flex items-center justify-center rounded-full bg-secondary w-10 h-10">
        {% include "svg/users.html" with fillcolor="fill-primary" width="w-4" height="w-4" %}
      </div>
    </div>
    <div class="border-seperatorline h-full border-l">&nbsp;</div>
  
    <div class="flex flex-row gap-4">
      <input class="p-2 px-5 bg-searchbox mr-5 rounded-full w-auto" type="text" placeholder="جستجو..." />

      {% include "svg/notif.html" with fillcolor="fill-primarytext" width="w-5" height="w-5" %}
    </div>
  </div>
</div>